/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --dark: #181921;
    --primary: #7b0606;
    --secondary: #ce0707;
}

html, body {
    height: 100%;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
}

body {
    line-height: 1;
    background: #f3f4f3;
    background: radial-gradient(circle, #fdf7f7 0%, #f3f4f3 100%);
    color: var(--dark);
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    justify-content: center;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button {
    background: transparent;
    border: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul, ol, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: var(--secondary);
    text-decoration: none;
    transition: color .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    position: relative;
    display: inline-block;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--primary);
    opacity: 0;
    transition: opacity .3s, transform .2s;
}

a:hover::after,
a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

a:hover {
    color: var(--primary);
}
/* C S S   R E S E T */